{% if page.banner %}
  {% assign banner = site.data.banners[page.banner] %}
  {% for image in site.static_files %}
    {% if image.banner and image.basename == banner.image %}
      {% assign image_url = image.path %}
      {% break %}
    {% endif %}
  {% endfor %}
  <div class="banner" style="height: {{ banner.height }}; background-image: url('{{ image_url | relative_url }}');">
    <div class="wrapper" style="color: {{ banner.text_color }}; position: relative; top: 50%; transform: perspective(1px) translateY(-50%);">
      <h1>
        {{ banner.title }}
      </h1>
      <p>
        {{ banner.text }}
      </p>
      {% for button in banner.buttons %}
        <a href="{{ button.link }}">
          <button class="btn-danger btn">
            {{ button.text }}
          </button>
        </a>
      {% endfor %}
    </div>
  </div>
{% endif %}
