<div class="contact-widget">
	<p>If you have any questions, there are many ways to get in touch with us.</p>
	<div>
		<a href="{{ include.email }}" title="Send us an email">
			<img src="{{ '/assets/img/icons/email.png' | relative_url }}" width="30" alt="Email icon">
			<p>Send us an email</p>
		</a>
	</div>
	<div>
		<a href="{{ include.union }}" title="Visit our Sheffield Students' Union page">
			<img src="{{ '/assets/img/icons/union.png' | relative_url }}" width="30" alt="Union icon">
			<p>Visit our Students' Union page</p>
		</a>
	</div>
	<div>
		<a href="{{ include.facebook }}" title="Visit our Facebook page">
			<img src="{{ '/assets/img/icons/facebook.png' | relative_url }}" width="30" alt="Facebook icon">
			<p>Visit our Facebook page</p>
		</a> 
	</div>
	<div>
		<a href="{{ include.twitter }}" title="Visit our Twitter page">
			<img src="{{ '/assets/img/icons/twitter.png' | relative_url }}" width="30" alt="Twitter icon">
			<p>Visit our Twitter page</p>
		</a>
	</div>
</div>
