<div class="contact-widget">
	{% assign socials = site.data.social | where_exp: "item","include.socials contains item.name" | default: site.data.social %}
	{% for social in socials %}
		{% unless social.link %}
			{% case social.name %}
				{% when 'facebook' %}
					{% assign link = "https://facebook.com/" | append: site.facebook_username %}
				{% when 'twitter' %}
					{% assign link = "https://twitter.com/" | append: site.twitter_username %}
				{% else %}
					{% continue %}
			{% endcase %}
		{% endunless %}
		{% assign img = social.image | default: social.name %}
		{% for icon in site.static_files %}
			{% unless icon.image and icon.icon and icon.basename == img %}
				{% continue %}
			{% endunless %}
			{% assign img_path = icon.path %}
		{% endfor %}

		<div>
			<a href="{{ social.link | default: link }}" title="{{ social.text }}">
				{% if img_path %}
					<img src="{{ img_path | relative_url }}" />
				{% endif %}
				<p>{{ social.text }}</p>
			</a>
		</div>
		{% assign img = nil %}
		{% assign img_path = nil %}
	{% endfor %}
</div>
