<div class="card-columns">

{% assign pdfs = site.static_files | where: "game", true %}
{% assign games = include.games | default: site.data.games %}

{% for game in games %}
  {% assign other_names = game.other_names | join: ", " %}
  {% for pdf in pdfs %}
    {% if game.pdf and pdf.name == game.pdf %}
      {% assign pdf_file = pdf.path | relative_url %}
      {% break %}
    {% endif %}
    {% unless pdf.game and pdf.basename != game.name %}
      {% assign pdf_file = pdf.path | relative_url %}
      {% break %}
    {% endunless %}
  {% endfor %}

  {% unless game.name %}
    {% continue %}
  {% endunless %}

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{ game.name }}</h5>
      {% if game.tagline %}
        <p class="card-text">{{ game.tagline }}</p>
      {% endif %}
      {% if pdf_file %}
        <a href="{{ pdf_file }}" target="_blank"><p class="card-text">Rules</p></a>
      {% endif %}
      {% if game.other_names %}
        <p class="card-text"><small class="text-muted">Also known as: {{ other_names }}</small></p>
      {% endif %}
    </div>
  </div>

{% assign pdf_file = nil %}

{% endfor %}

</div>

