---
---

/* Use some more of the screen estate given to us */
$content-width:    1200px;
$on-laptop:        1200px;
$on-palm:          800px;

/* Override the background colour to give better contrast against the twitter widget */
$background-color: #f6f6f6;


@import "bootstrap/scss/bootstrap";
@import "{{ site.theme }}";


/* Make sure navbar buttons sit side by side */
.site-nav .page-link {
	display: inline-block;
}

/* Pull navbar to right and remove gap between it and the content */
nav.site-nav {
	line-height: 0px;
	position: absolute;
	bottom: 0;
	right: 0;
}

/* Remove gap between navbar and content */
main.page-content {
	padding-top: 0px;
}

/* Put text line next to image, not below */
.contact-widget p {
	display: inline;
}

/* Align navbar to content-width */
.wrapper {
	position: relative;
}

/* Don't show page heading */
.home .page-heading {
	display:none;
}

/* Don't hide half of the icon (why do we need this?) */
.social-media-list .svg-icon {
	padding-right: 0px;
}

/* Shrink our icons a bit */
.contact-widget img {
	width: 30px;
}

/*
 *   Resize the footer columns to give us more space for our long social media usernames
 *   We use an inverse media query to our parent theme in order to avoid messing with smaller screens
 */
@media screen and (min-width: $on-laptop) {
  .footer-col-1 {
    width: -webkit-calc(25% - (#{$spacing-unit} / 2));
    width:         calc(25% - (#{$spacing-unit} / 2));
  }
  .footer-col-2 {
    width: -webkit-calc(40% - (#{$spacing-unit} / 2));
    width:         calc(40% - (#{$spacing-unit} / 2));
  }
  .footer-col-3 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
  }
}
